body{
    background: linear-gradient(rgba(0, 0, 50, 0.5),rgba(0, 0, 50, 0.5)),url(pic.jpg);
    background-size: cover;
    background-position: center;
}

.login-box{
    max-width: 700px;
    float: none;
    margin: 150px auto;
}

.login-left{
    background: rgba(211, 211, 211, 0.5);
    padding: 30px;
}

.login-right{
    background: rgba(211, 211, 211, 0.5);
    padding: 30px;
}

.form-control{
    background-color: transparent !important;
}

a{
    color: #fff !important;
}

h1{
    color: #fff !important;
    margin-top: 10px !important;
    text-transform: uppercase;
}

#main{
    height: 450px;
    background-color: white;
    margin-top: 70px;
}

.output{
    background-color: white;
    box-shadow: 0px 1px 1px #000;
    height: 250px;
    margin-bottom: 20px;
    overflow: scroll;
}

ul{
    list-style: none;
}

input[type=submit]{
    width: 100px;
    box-sizing: border-box;
    border: 4px solid #6495ed;
    border-radius: 4px;
}

textarea{
    background-color: #dcdcdc;
    width: 350px;
}










